/* &display=swap */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans:regular,italic,700,700italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Teko:300,regular,500,600,700&display=swap);

.wrapper {
  overflow: hidden;
  margin: auto 20px;
}
body {
  font-family: "Open+Sans";
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background: url(../image/abhay-paditkar-Lic6Vvl0v7A-unsplash.jpg);
  color: #fff;
}
h1 {
  font-size: 105px;
  color: rgb(68, 156, 197);
  text-decoration: underline red;
  margin: 25px 0;
  text-shadow: -1px 6px 7px blue;
}

.list-item {
  font-family: "Balsamiq+Sans";
  font-weight: 700;
  color: black;
  display: inline-block;
  border-radius: 20px;
  padding: 5px;
  margin: 0 55px;
  background: rgb(143, 187, 62);
  box-shadow: 0 0 5px 5px rgb(168, 214, 116);
}
.list-image {
	max-width: 750px;
  margin: 30px;
  box-shadow: 0 0 20px 3px red;
  border-radius: 20px;
}
.text {
  font-family: "Inconsolata";
  font-size: 21px;
  font-weight: 500;
  background: #000;
  text-decoration: underline rgb(154, 236, 216);
  max-width: 800px;
  box-shadow: 0 0 9px 5px rgb(70, 127, 248);
  padding: 10px;
  margin: 0 35px;
  border-radius: 18px;
  line-height: 1.15;
}
.text-1 {
  font-family: "Inconsolata";
  font-size: 22px;
  color: violet;
  font-style: italic;
  max-width: 800px;
  box-shadow: 0 0 10px 10px rgb(134, 208, 243);
  background: slategrey;
  border: 2px dashed rgb(150, 5, 5);
  border-bottom: none;
  border-radius: 0 40px;
  margin: 0 10px 40px auto;
  padding: 15px;
  max-height: 300px;
  overflow: auto;
  opacity: 0.7;
  line-height: 1.5;
}
.content {
  font-family: "Bebas+Neue";
  font-weight: 900;
  font-size: 19px;
  background-color: rgb(144, 247, 48);
  line-height: 1.26;
  color: rgb(100, 110, 128);
  border: 3px double #fff;
  box-shadow: -15px -15px 2px -5px rgba(160, 82, 45, 0.5),
    -15px 15px 2px -5px rgba(0, 255, 255, 0.5),
    15px -15px 2px -5px rgba(255, 0, 0, 0.5),
    15px 15px 2px -5px rgba(255, 255, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  max-width: 700px;
  margin: 0 0 40px 25px;
}
.list-image-block {
  margin: 30px;
  box-shadow: 2px -1px 7px 5px rgb(12, 153, 163);
  border-radius: 60% 0;
}
.content-aside {
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  text-decoration: line-through;
  color: maroon;
  background: darkorange;
  border-left: 8px solid rgb(34, 139, 2);
  outline: 20px dashed red;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 10px 42px auto;
  line-height: 1.8;
  letter-spacing: 5px;
  opacity: 1;
}
.section {
  font-family: "Teko";
  font-weight: 600;
  font-size: 22px;
  color: rgb(48, 48, 20);
  max-width: 700px;
  line-height: 1.1;
  box-shadow: 2px 3px 6px 5px teal;
  border-radius: 0% 43% 0% 41% / 0% 30% 0% 28%;
  overflow: hidden;
  margin: 0 0 30px 10px;
  background-color: rgb(160, 157, 4);
  border: 30px dotted #fff;
}
.footer {
  border-top: 4px solid rgb(26, 4, 126);
  box-shadow: 0 -6px 4px -4px red;
  margin: 0 0 50px 0;
}
.info {
  font-family: "Inconsolata";
  font-weight: 900;
  font-size: 50px;
  padding: 10px;
  max-width: 350px;
  display: block;
  margin: 20px auto;
  border: 5px solid red;
  border-top: none;
  border-bottom: none;
  background: black;
}
